<div class="container  col-xs-12 col-sm-12 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3" ng-controller="createCtrl as ctrl">

    <!--<h1>Meeting with {{ctrl.username}}</h1>-->
    <button class ="btn btn-primary" ng-show="!ctrl.event.approval" ng-click="ctrl.approve()">Approve!</button>

    <div>
    <form ng-submit="ctrl.createEvent();">
        <div class="form-group">
            <label for="title_id">Event Name</label>
            <input id ="title_id" type="text" ng-model="ctrl.event.title">
            </div>
        <div class="container-fluid">

        <div class="form-group">
            <label>Starting Time</label>
        <div uib-timepicker ng-model="ctrl.event.start"  ></div>
        <div uib-datepicker
             datepicker-options="options"
             ng-model="ctrl.event.start"  >

        </div>
        </div>
        </div>

        <div class="container-fluid">
        <div class="form-group">
            <label>Ending Time</label>
            <div uib-timepicker  ng-model="ctrl.event.end"  ></div>
            <div uib-datepicker
                 datepicker-options="options"
                 ng-model="ctrl.event.end"  ></div>
        </div>
        </div>

            <!--<div class="form-group">-->
                <!--<input type="datetime" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="ctrl.event.start" is-open="isOpen"  />-->
                <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>-->
    <!--</span>-->
            <!--</div>-->


            <button type="submit" class="btn btn-primary">Ask friend out!</button>

    </form>

    </div>




</div>