<header class="main-header">
    <div class="navbar-header">
        <a class="logo" ui-sref="home">MEET</a>
    </div>
    <nav class="navbar navbar-static-top" role="navigation" ng-controller="HomeCtrl as ctrl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div>
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <!-- Notifications Menu -->
                <!--<li class="dropdown notifications-menu">-->
                <!--&lt;!&ndash; Menu toggle button &ndash;&gt;-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-bell-o"></i>-->
                <!--<span class="label label-warning">10</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 10 notifications</li>-->
                <!--<li>-->
                <!--&lt;!&ndash; Inner Menu: contains the notifications &ndash;&gt;-->
                <!--<ul class="menu">-->
                <!--<li>&lt;!&ndash; start notification &ndash;&gt;-->
                <!--<a href="#">-->
                <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
                <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash; end notification &ndash;&gt;-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="footer"><a href="#">View all</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; Tasks Menu &ndash;&gt;-->
                <!--<li class="dropdown tasks-menu">-->
                <!--&lt;!&ndash; Menu Toggle Button &ndash;&gt;-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-flag-o"></i>-->
                <!--<span class="label label-danger">9</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 9 tasks</li>-->
                <!--<li>-->
                <!--&lt;!&ndash; Inner menu: contains the tasks &ndash;&gt;-->
                <!--<ul class="menu">-->
                <!--<li>&lt;!&ndash; Task item &ndash;&gt;-->
                <!--<a href="#">-->
                <!--&lt;!&ndash; Task title and progress text &ndash;&gt;-->
                <!--<h3>-->
                <!--Design some buttons-->
                <!--<small class="pull-right">20%</small>-->
                <!--</h3>-->
                <!--&lt;!&ndash; The progress bar &ndash;&gt;-->
                <!--<div class="progress xs">-->
                <!--&lt;!&ndash; Change the css width attribute to simulate progress &ndash;&gt;-->
                <!--<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                <!--<span class="sr-only">20% Complete</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash; end task item &ndash;&gt;-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="footer">-->
                <!--<a href="#">View all tasks</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; User Account Menu &ndash;&gt;-->
                <!--<li class="dropdown user user-menu">-->
                <!--&lt;!&ndash; Menu Toggle Button &ndash;&gt;-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--&lt;!&ndash; The user image in the navbar&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="user-image" alt="User Image">&ndash;&gt;-->
                <!--&lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;-->
                <!--<span class="hidden-xs">Alexander Pierce</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--&lt;!&ndash; The user image in the menu &ndash;&gt;-->
                <!--<li class="user-header">-->
                <!--&lt;!&ndash;<img class="img-circle" alt="User Image">&ndash;&gt;-->

                <!--<p>-->
                <!--Alexander Pierce - Web Developer-->
                <!--<small>Member since Nov. 2012</small>-->
                <!--</p>-->
                <!--</li>-->
                <!--&lt;!&ndash; Menu Body &ndash;&gt;-->
                <!--<li class="user-body">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="#">Followers</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="#">Sales</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="#">Friends</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</li>-->
                <!--&lt;!&ndash; Menu Footer&ndash;&gt;-->
                <!--<li class="user-footer">-->
                <!--<div class="pull-left">-->
                <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                <!--</div>-->
                <!--<div class="pull-right">-->
                <!--<a href="#" class="btn btn-default btn-flat">Sign out</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!-- Control Sidebar Toggle Button -->

                <ul class="nav navbar-nav">
                    <li ng-show="ctrl.isUserLogon"><a ui-sref="home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <!--<img class="img-circle" alt="User Image">-->
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!--/.messages-menu -->



                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock " aria-hidden="true"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignIn">Sign In</a></li>
                            <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignUp">Sign Up</a></li>
                            <li ng-show="ctrl.isUserLogon"><a ui-sref="MyAccount">My Account</a></li>
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>



<div class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar ">
        <!-- user panel (Optional) -->

        <!-- Search Form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
            </div>
        </form><!-- /.sidebar-form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><span>Link</span></a></li>
            <li><a href="#"><span>Another Link</span></a></li>
            <li class="treeview">
                <a href="#"><span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul><!-- /.sidebar-menu -->

        <div ng-controller="calendarCtrl as ctrl">
            <table class="table table-hover" >
                <thead>
                <th class="header">
                    Friends
                </th>
                </thead>
                <tbody class>
                <tr ng-repeat="user in ctrl.users" ng-class="{ 'success': $index == selectedIndex }">
                    <td ng-click="ctrl.meet(user._id) || itemClicked($index)">{{user.username}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover" >
                <thead>
                <th class="header">
                    Pending Approval
                </th>
                </thead>
                <tbody class>
                <tr ng-repeat="pEvent in ctrl.pEvents">
                    <td ng-click="ctrl.searchEvent(pEvent.eventID)">{{pEvent.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->