<div class="container">
    <h1>Edit {{ctrl.event.title}}</h1>
    <hr>
    <div class="row">
        <div class="product col-lg-8 col-md-6 col-sm-12">
            <form name="saveForm" ng-submit="ctrl.save();">
                <div class="form-group">
                    <label for="title">Product Name:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.name" required>
                </div>
                <div class="form-group">
                    <label for="title">Brand:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.brand" required>
                </div>
                <div class="form-group">
                    <label for="title">UPC12:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.upc12" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove();">Remove</button>
            </form>
        </div>
    </div>
</div>