<div class="jumbotron container" ng-controller="loginCtrl as ctrl">

<div class="col-sm-6 col-sm-offset-3">

    <div class="centered">
        <img class="center mainicon" src="images/Meet_transparent.png">
    </div>

    <br>
    <flash-message
            duration="5000"
            show-close="true"
            on-dismiss="mycallBack(flash)"></flash-message>
    <form ng-submit="ctrl.login()" novalidate autocomplete="off">
        <div class="form-group">
            <input type="text" name="username" id="username" class="form-control" ng-model="ctrl.user.username" required placeholder="username" value="LeeChuan">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password"
                   class = "form-control"
                   ng-model="ctrl.user.password"
                   required placeholder="password" value="LeeChuan">

            <div class="help-block"
                 ng-show="loginForm.password.$error.required">
                <p>Password is mandatory</p>
            </div>
        </div>
    <button type="submit" class="btn btn-default btn-lg">Login</button>
    </form>
    <hr>
    <a href="/oauth/google" class="btn btn-block btn-social btn-google">
        <i class="fa fa-google-plus" aria-hidden="true"></i> Google
    </a>

    <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
    </a>

    <p>Need an account? <a ui-sref="SignUp">Signup</a></p>
    <p>Forgot your password ? <a ui-sref="#">Reset</a></p>


</div >

</div>