<div class="container" ng-controller="RegisterCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user-plus"></span> Sign Up</h1>
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>

        <!-- LOGIN FORM -->
        <form name="registerForm" ng-submit="ctrl.register()" novalidate autocomplete="off">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="ctrl.username"
                        placeholder="username" required>
                <div class="help-block"
                     ng-show="registerForm.username.$error.required">
                    <p>username is mandatory</p>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="ctrl.password"
                       name="password" placeholder="Password" required>
                <div ng-show="registerForm.password.$invalid">
                    <p>Password is mandatory.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" ng-model="ctrl.confirmpassword"
                       name="confirmpassword" placeholder="Confirm Password" compare-to="ctrl.password" required>
                <div ng-show="registerForm.confirmpassword.$invalid">
                    <p>Passwords do not match</p>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Register</button>
        </form>

        <hr>
        <a href="/oauth/google" class="btn btn-block btn-social btn-google">
            <i class="fa fa-google-plus" aria-hidden="true"></i> Google
        </a>
        <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
        </a>
        <a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
        </a>
        <a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
        </a>
        <a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">
            <i class="fa fa-wechat" aria-hidden="true"></i> WeChat
        </a>
        <hr>

        <p>Already have an account? <a ui-sref="SignIn">Login</a></p>
        <p>Or Go <a ui-sref="defaultApp">home</a>.</p>

    </div>

</div>