


                    <div ng-controller="calendarCtrl as ctrl" class="container col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
                        <div class="alert-success calAlert"
                             ng-show="alertMessage != undefined && alertMessage != ''">
                            <h4>{{alertMessage}}</h4>
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-success"
                                        ng-click="changeView('agendaDay', 'myCalendar')">AgendaDay
                                </button>
                                <button class="btn btn-success"
                                        ng-click="changeView('agendaWeek', 'myCalendar')">AgendaWeek
                                </button>
                                <button class="btn btn-success"
                                        ng-click="changeView('month', 'myCalendar')">Month
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="calendar"
                             ng-model="eventSources"
                             id="calendar"
                             calendar="myCalendar"
                             ui-calendar="uiConfig.calendar"></div>
                    </div>